
* {
    margin: 0px;
    padding: 0px;
    background-color: #f7f6f3;
    box-sizing: border-box;
}



h1{
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: 'Rock 3D', sans-serif; 
    color: rgb(59, 101, 59);                               

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; 
  padding: 20px;
}

.grid-item {
  overflow: hidden;
  border-radius: 2px;
}

.grid-item:hover,
.grid-item:active {
    filter: brightness(100%); 
    
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'Noto Sans JP', sans-serif;
}

.grid-item:hover .overlay,
.grid-item:active .overlay {
  opacity: 1;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: rgb(255, 255, 239);
}


p{
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.white{
    color: white;
    text-align: left;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;

}


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
  }
  
  nav {
    text-align: right;
   margin-bottom: 50px;
   margin-right: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}

.moving-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  animation: moveFooter 5s linear infinite; /* Adjust the duration as needed */
}











.Tabetomo {
  width: 100%;
  height: 100%;
  text-align: justify;
  color: black;
  font-size: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 64px;
  word-wrap: break-word;
  margin-left: 50px;
}

.DineInTakeoutDeliveryAddress131AvenueANewYorkNy10009HoursOpenCloses930PmPhone6468506414 {
  width: 433px;
  height: 179px;
  flex-shrink: 0;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 50px;
}

.caption {
  width: 400px;
  height: 239px;
  flex-shrink: 0;
  font-size: 15px;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 50px;
  margin-top: -10px;
}


.custom-image {
  width: 60%;
  height: auto;
  border: 2px solid #ccc;
  float: right;
  vertical-align: middle; 
}

  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
  }

